# Mean(Expected-Return)-Volatlity Analysis

In [132]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt

In [143]:
spy = yf.Ticker('pej')

In [144]:
df = spy.history('120mo')

In [145]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-06-13,26.158276,26.666387,26.130049,26.619341,29700,0.0,0
2013-06-14,26.534659,26.656981,26.459384,26.572296,21600,0.0,0
2013-06-17,26.638163,26.863990,26.600526,26.704029,35200,0.0,0
2013-06-18,26.929850,27.118038,26.863982,27.070992,41600,0.0,0
2013-06-19,27.174496,27.174496,26.854576,26.854576,29500,0.0,0
...,...,...,...,...,...,...,...
2023-06-06,40.290001,41.009998,40.270000,40.950001,53400,0.0,0
2023-06-07,40.889999,41.320000,40.889999,41.090000,48100,0.0,0
2023-06-08,40.900002,41.250000,40.900002,41.169998,50300,0.0,0
2023-06-09,41.180000,41.360001,41.049999,41.119999,89600,0.0,0
2023-06-12,41.250000,41.450001,41.189999,41.430000,42300,0.0,0

In [146]:
df_annual = df.resample('AS').first()
df_annual

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-01,26.158276,26.666387,26.130049,26.619341,29700,0.0,0
2014-01-01,32.219580,32.219580,31.945575,32.077854,26600,0.0,0
2015-01-01,34.014611,34.195084,33.406696,33.710655,34800,0.0,0
2016-01-01,34.461231,34.461231,33.821648,34.060299,344900,0.0,0
2017-01-01,38.891626,38.891626,38.410770,38.747372,159100,0.0,0
2018-01-01,42.805065,42.805065,42.659768,42.795380,7100,0.0,0
2019-01-01,38.245419,39.084263,38.245419,39.084263,2700,0.0,0
2020-01-01,44.303859,44.421375,44.068824,44.421375,2700,0.0,0
2021-01-01,39.838176,39.887688,38.105220,38.511227,495600,0.0,0
2022-01-01,48.769077,49.453871,48.719455,49.056889,166300,0.0,0
2023-01-01,36.544997,36.764189,35.967130,36.156433,79100,0.0,0

In [147]:
df_annual['YoY Return'] = df_annual['Close'].pct_change(periods=1) * 100

In [148]:
df2 = df_annual

In [149]:
df3 = df2.dropna()

In [151]:
df3['YoY Return'].std()

16.451586560903422

In [153]:
means = np.array([10.307045586546518,9.965300873421102,14.829421705189777,6.25620689959004,5.944517141112331,4.360671508273471])
vol = np.array([6.24213189646226,13.654618922198646,22.51742034295097,19.606518130252724,26.547029564738825,16.451586560903422])
Tickers = np.array(['Spy','Dia','Qqq','Vgk','Mchi','Pej'])

In [154]:
type(means)

numpy.ndarray

In [155]:
df5 = pd.DataFrame({'Expected Return': means, 'Volatility': vol, 'Tickers': Tickers})

In [156]:
df5['Sharpe-Ratio'] = df5['Expected Return'] / df5['Volatility']

In [158]:
df5['Sharpe-Ratio'].sum()

3.8476661904555653

In [159]:
df5['Weight'] = df5['Sharpe-Ratio'] /3.8476661904555653

In [160]:
df5

   Expected Return  Volatility Tickers  Sharpe-Ratio    Weight
0        10.307046    6.242132     Spy      1.651206  0.429145
1         9.965301   13.654619     Dia      0.729812  0.189676
2        14.829422   22.517420     Qqq      0.658576  0.171162
3         6.256207   19.606518     Vgk      0.319088  0.082930
4         5.944517   26.547030    Mchi      0.223924  0.058197
5         4.360672   16.451587     Pej      0.265061  0.068889